* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input,
h1,
button {
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    margin-top: 40px;
}

h1 {
    margin-bottom: 20px;
    color: #3600ac;
}

input, select {
    padding: 6.8px;
    outline: none;
    margin-top: 16px;
    border-radius: 12px;
    border: 1px solid #3600ac;
}

form button {
    padding: 8px;
    margin-top: 20px;
    background: none;
    border: 1px solid #3600ac;
    color: #3600ac;
    font-weight: bold;
    border-radius: 12px;
    cursor: pointer;
}

button:hover{
    background-color: #3600ac;
    color: white;
    transition: .4s ease-in-out;
}

label {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

form p {
    margin-top: 20px;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;

}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;

}