* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 20px;
}

input {
    width: 150%;
    padding: 6.8px;
    outline: none;
}

input[type=password] {
    margin-top: 20px;
}

form button {
    width: 150%;
    padding: 8px;
    margin-top: 25px;
}

label {
    display: flex;
    justify-content: flex-start;
}

form p {
    margin-top: 20px;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}