* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #181818;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    margin-right: 5%;
    padding: 32px;
    background-color: #212121;
}

h1 {
    font-size: 2.1rem;
    width: 100%;
    margin-bottom: 40px;
    text-decoration: underline;
}

input {
    width: 100%;
    padding: 6.8px;
    outline: none;
    border: none;
    background: none;
    border-bottom: 1px solid white;
}

#passwordlabel {
    margin-top: 20px;
}

form button {
    width: 100%;
    padding: 9px;
    margin-top: 20px;
    font-family: sans-serif;
    background: none;
    background-color: #3d00c1;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: #2b0087;
    transform: scale(1.12);
    transition: .4s ease-in-out;
}

label {
    margin-bottom: 10px;
}

form a {
    margin-top: 20px;
    text-align: center;
}